<section>
    <div class="container">
        <div class="row">

            <div class="mx-auto m-4">
            <a href="admin/add-product" class="btn btn-success">Add Products</a>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">no</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                {{#each products}}
                <tbody>
                    <tr>
                        <th class="align-middle" scope="row">{{@index}}</th>
                        <td class="align-middle">{{this.name}}</td>
                        <td class="align-middle">{{this.category}}</td>
                        <td class="align-middle">{{this.description}}</td>
                        <td class="align-middle">{{this.price}}</td>
                        <td class="align-middle"><img style="width:30px; height: 40px;" src="/product-images/{{this._id}}.png" alt=""></td>
                        <td><a class="btn btn-primary" href="admin/edit-product?value={{this._id}}">Edit</a></td>
                        <td><a class="btn btn-danger" href="admin/delete-product{{this._id}}" onclick="return confirm('Do you want to delete {{this.name}}')">Delete</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</section>