<style>
    .text-font {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-weight: 700;
        letter-spacing: .156rem;
        font-size: 1.125rem;
    }

    .text-price {
        padding: 0 .625rem;
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        line-height: .813rem;
        letter-spacing: 1.6px;
    }

    .text-descriptions {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 400;
        line-height: 1.125rem;
        margin: .313rem 0 .938rem;
        padding: 0 .625rem;
    }

    .button-color {
        color: #4e4e4e;
        border-color: #4e4e4e;
    }

    .button-order {
        font-family: futura-pt, Tahoma, Geneva, Verdana, Arial, sans-serif;
        font-style: normal;
        font-size: .75rem;
        font-weight: 700;
        background-color: hsl(90, 40%, 50%);
        color: white;
    }
</style>


<div class="container-fluid my-5 py-5">



    <div class="row">
        <div class="col-8">
            <div class="col-md">
                <div class="card mb-4">


                    <div class="card-body">
                        <p class="text-uppercase h4 text-font">Delivery Country:</p>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="https://mdbcdn.b-cdn.net/img/Others/extended-example/usa2.webp"
                                    class="rounded-circle me-2" style="width: 35px;" alt="USA" />
                            </div>
                            <div class="col-md">
                                <select class="select">
                                    <option value="1">United States</option>
                                    <option value="2">India</option>
                                    <option value="3">Poland</option>
                                    <option value="4">Italy</option>
                                    <option value="5">Greece</option>
                                    <option value="6">Germany</option>
                                    <option value="7">Croatia</option>
                                    <option value="8">Sweden</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" id="address-data">
                        <p class="text-uppercase fw-bold mb-3 text-font">Saved address</p>
                        <div>
                            {{#addressData}}
                            <input type="radio" id="{{@index}}" class="address-radio" name="address" value="{{@index}}">
                            <label for="{{@index}}">
                                <p>{{this.firstName}}
                                    {{this.lastName}}</br>
                                    {{this.address}}</br>
                                    {{this.pincode}}</br>
                                    {{this.phoneNumber}}</p>
                            </label>
                            {{/addressData}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md mb-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
                    </div>
                    <div class="card-body">
                        <form action="/save-address" method="post" id="save-address">

                            <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form11Example1" name="firstName" class="form-control" />
                                        <label class="form-label" for="form11Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="form11Example2" name="lastName" class="form-control" />
                                        <label class="form-label" for="form11Example2">Last name</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input -->
                            <div class="form-outline mb-4">
                                <textarea name="address" class="form-label w-100" style="height:5rem ;"
                                    id="form11Example4" cols="30" rows="10"></textarea>
                                <label class="form-label" for="form11Example4">Address</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="number" name="pincode" id="form11Example5" class="form-control" />
                                <label class="form-label" for="form11Example5">Pincode</label>
                            </div>

                            <!-- Number input -->
                            <div class="form-outline mb-4">
                                <input type="number" name="phone" id="form11Example6" class="form-control" />
                                <label class="form-label" for="form11Example6">Phone</label>
                            </div>
                            <div>
                                <button type="submit" onclick="saveAddress()" class=" btn btn-info">Save
                                    Address</button>
                            </div>
                    </div>
                    </form>
                </div>

            </div>

        </div>


        <div class="col-4">
            <div class="col-md mb-4 position-static">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0 text-font">1 item <span class="float-end mt-1"
                                style="font-size: 13px ;">Edit</span></h5>
                    </div>
                    <div class="card-body">
                        {{#productData}}
                        <div class="row">
                            <div class="col-md-4 d-flex justify-content-center">
                                <img src="/product-images/{{this.productId}}.png" class="rounded-3"
                                    style="width: 50px ;height: 70px;" alt="Blue Jeans Jacket" />
                            </div>
                            <div class="col-md-8 ms-3">
                                <span class="mb-0 text-price">{{this.products.price}}</span>
                                <p class="mb-0 text-descriptions">{{this.products.name}}</p>
                                <p class="text-descriptions fw-bold">{{this.products.categoty}}</p>
                                <p class="text-descriptions mt-0">Qty: {{this.quantity}}
                                </p>
                            </div>
                        </div>
                        {{/productData}}
                        <div class="card-footer mt-4">
                            <ul class="list-group list-group-flush">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
                                    Subtotal
                                    <span>Rs. {{totalPrice}}</span>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
                                    Total to pay
                                    <span>Rs. {{totalPrice}}.00</span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <input type="radio" id="cod-pay" name="payment" value="cod"> <label for="cod-pay">Cash on
                                Delivery</label>
                        </div>
                        <div>
                            <input type="radio" id="online-pay" name="payment" value="online"> <label
                                for="online-pay">Online
                                Payment</label>
                        </div>
                    </div>
                    <div class="text-center mb-2">
                        <button type="submit" onclick="checkOut()" class="btn button-order col-md-10">Checkout</button>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function saveAddress() {
        $("#save-address").submit(function (event) {
            event.preventDefault(); //prevent default action 
            let post_url = $(this).attr("action"); //get form action url
            let request_method = $(this).attr("method"); //get form GET/POST method
            let form_data = $(this).serialize(); //Encode form elements for submission	
            let addressData = document.getElementById('address-data')
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                console.log(response.addressData)
                for (i = 0; i < response.addressData.length; i++) {
                    addressData.innerHTML += `
                <div>
                <input type="radio"  id="${[i]}" name="payment" value="online"> <label
                                for="${[i]}"><p>${response.addressData[i].firstName}
                                ${response.addressData[i].lastName}</br>
                                ${response.addressData[i].address}</br>
                                ${response.addressData[i].pincode}</br>
                                ${response.addressData[i].phoneNumber}</p>
                                </label></div>
                `
                }
            });
        });
    }
    function checkOut() {
        var rates = document.getElementsByClassName('address-radio');
        var rate_value;
        for (var i = 0; i < rates.length; i++) {
            if (rates[i].checked) {
                rate_value = rates[i].value;
            }
        }
        var element = document.getElementsByName('payment')
        var paymentMethod;
        for (i = 0; i < element.length; i++) {
            if (element[i].checked) {
                paymentMethod = element[i].value
            }

        }
        console.log(rate_value, paymentMethod)


        $.ajax({
            url: '/checkout',
            data: {
                payment: paymentMethod,
                addressIndex: rate_value,
            },
            method: 'post',
            success: (response) => {
                if (response.order) {
                    console.log(response.order, "here")
                    razorPayment(response.order)

                }
                else if (response.cod) {
                    console.log(response.cod)
                }
            }
        })
    }
    function razorPayment(order) {
        console.log(order, order.amount);
        var options = {
            "key": "rzp_test_rCqgcSTzd87Bcj", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Aley Shopping",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                console.log(response)
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "8156878009"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open()
    }

</script>